*{
    margin: 0;
}
.logo{
    width: 75px;
    height: 60px;
}
.titulo{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.emcabezado{
    display: flex;
    align-items: center;
    margin: 15px;
}
body{
    background:linear-gradient(to left, #5d68cc , #d85353 );
}  